@charset "utf-8";
/* CSS Document */
div.estilos img{
	width: 300px;
	height: 300px; 
	float: left;
	clear: left;
	
}
div.estilos {
	clear: left;
}
h2{
	color:#0713F5;
	text-align: left;
	
}
h3{
	clear: left;
	display: block;
	color:#0713F5;
	text-align: left;
	text-decoration: none
}
